@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;700&display=swap");
body {
  margin: 0;
  font-family: 'Bellota', cursive;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #0d8187;
  font-weight: 700;
}

header img {
  padding: .5vw;
  height: 9vh;
}

header nav {
  display: inline-block;
}

header nav a {
  margin: 0 4vw;
  text-decoration: none;
  color: #303030;
}

header nav a.active {
  color: #FFF;
}

header nav a:hover {
  color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #303030;
  height: 80vh;
}

.form form {
  width: 50vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d818750;
  color: #FFF;
  border-radius: 1rem;
}

.form form input, .form form textarea {
  border-radius: 1em;
}

.form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form .flex textarea {
  margin-left: 1em;
}

.form form input[type="submit"] {
  height: 5vh;
  width: 5vw;
  background-color: #0d8187;
  border-style: none;
}

.form form input[type="submit"]:hover {
  -webkit-box-shadow: .1em .1em 1em white, -.1em -.1em 1em white;
          box-shadow: .1em .1em 1em white, -.1em -.1em 1em white;
  color: white;
}

.form form select {
  border-radius: .5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #0d8187;
  font-weight: 700;
}

footer img {
  height: 10vh;
}

footer nav {
  display: inline-block;
}

footer nav a {
  margin: 0 4vw;
  text-decoration: none;
  color: #303030;
}

footer nav a.active {
  color: #FFF;
}

footer nav a:hover {
  color: white;
}

.error {
  color: red;
}

.msg_sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: green;
  margin: 0;
  color: white;
}

.msg_not_sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  margin: 0;
  color: white;
}

input[type="text"]#website {
  display: none;
}
/*# sourceMappingURL=style.css.map */